.Head{
    background:#2b78e4;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 7fr  1fr;
    border-bottom-style: solid;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    div{
        display: grid;
        grid-template-columns: 2fr 1fr;
        cursor: pointer;
        padding: 8px;
        img{
            padding-top: 10px;
        }
    }
    div:hover{
        background: #005ce6;
    }
    
}
body{
    margin: 0px;
    padding: 0px;
    background: #9fc5f8;
}
.contenedor{
display:grid;
grid-template-columns: 1fr 3fr;
grid-auto-rows: minmax(100px, auto);    
}
.Menu{
    margin: 0px;
    margin-top: 0px;
    padding-left: 0px;
    //display:grid ;
    //grid-template-columns: 1fr 1fr;
    background-color: #7cb2f8;
    grid-row: 1/7;
    
    ul{
        padding-left: 0px;
        padding-top: 0px;
        list-style: none;
        margin-top: 0px;
        a{
            color: black;
            text-decoration:none;
            cursor: pointer;
        }
        li{
            margin: 0px;
            padding: 15px   ;
            background: #ff944d;
            border-right: 5px;
            
            border-style: outset;
            border-color: rgb(56, 52, 52);
            font-family: Arial, Helvetica, sans-serif;
        }
        
        
        li:hover{
            background:   #ffd1b3;
        }
    }
}

.Info{
   //background-color: slateblue;
    margin: 0px;
    margin-top: 0px;
    padding-left: 30px;
    grid-row: 1/6;
    
    input[type="search"]{
        background-color: rgb(228, 228, 228);
        width:300px;
        padding: 8px; 
        border-radius: 20px;
    }
    input[type="submit"]{
        background-color: #246355;
        color:rgb(252, 252, 252);
        width:100px;
        padding: 8px; 
        border-radius: 20px;
        cursor: pointer;
          &:hover{
              background-color:#0F362D;
          }
    }
    

}

.tabla{
    padding-top: 20px;
    background-color: rgb(228, 228, 228);
    text-align: left;
    border-collapse:collapse;
    width: 90%;
    
    //border-radius: 20px;
    td, th {
        padding: 16px;
    }
    thead{ 
         background-color: #246355;
        border-bottom: solid 5px #0F362D;
        color: white;
      }
      tr:nth-child(even){
        background-color: #ddd;
      }
      tr:hover td{
        background-color: #369681;
       color: white;
      }

}