.Head{
    background:#2b78e4;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 7fr  1fr;
    border-bottom-style: solid;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    div{
        display: grid;
        grid-template-columns: 2fr 1fr;
        cursor: pointer;
        padding: 8px;
        img{
            padding-top: 10px;
        }
    }
    div:hover{
        background: #005ce6;
    }
    
}
body{
    //display: flex;

    margin: 0px;
    padding: 0px;
    background: #9fc5f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    top: 80px;
    position: relative;
   
    .contenedor_login{
     
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }
  }

  .form_login{
      width: 380px;
      padding: 40px;
      background-color: #2b78e4;
      box-shadow: 0px 0px 25px -3px rgba($color: #000000, $alpha: 1.0);
      border-radius: 10px;
      text-align: center;

      input[type="name"], input[type="pass"]{
          border: none;
          display: block;
          margin: 10px auto;
          padding: 8px;
          
      }
      .btn{
        border: none;
        background-color: #c4dcfa;
          display: block;
          margin: 30px auto;
          padding: 15px;
          width: 150px;  
          font-weight:600;
          border-radius: 20px;
          cursor: pointer;
          &:hover{
              background-color: #72adfa;
          }

      }

  }